<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rhain.enterprise.dao.ProductDao" >
    <sql id="BASE_TABLE">
      t_products
    </sql>

    <sql id="BASE_COLUMN">
      `id`, `category_id` as categoryId, `name`, `desc`, `size`, `img`, `order`, `create_at` as createAt ,`update_at` as updateAt
    </sql>


    <insert id="insertProduct" parameterType="com.rhain.enterprise.model.Product" useGeneratedKeys="true" keyProperty="product.id" keyColumn="id">
        INSERT INTO
        <include refid="BASE_TABLE"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `category_id`, `name`, `desc`, `size`, `img`, `order`, `create_at`, `update_at`
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            #{product.categoryId, jdbcType=INTEGER},
            #{product.name, jdbcType=VARCHAR},
            #{product.desc, jdbcType=VARCHAR},
            #{product.size, jdbcType=VARCHAR},
            #{product.img, jdbcType=VARCHAR},
            #{product.order, jdbcType=INTEGER},
            #{product.createAt, jdbcType=TIMESTAMP},
            #{product.updateAt, jdbcType=TIMESTAMP}
        </trim>
    </insert>

    <select id="selectProducts" resultType="com.rhain.enterprise.model.Product">
        select
        <include refid="BASE_COLUMN"/>
        from
        <include refid="BASE_TABLE"/>
        order by `order` asc
    </select>

    <update id="updateProduct" parameterType="com.rhain.enterprise.model.Product">
        update
        <include refid="BASE_TABLE"/>
        set `name` = #{product.name, jdbcType=VARCHAR},
        `category_id` = #{product.categoryId, jdbcType=INTEGER},
        `desc` = #{product.desc, jdbcType=VARCHAR},
        `size` = #{product.size, jdbcType=VARCHAR},
        `img` = #{product.img, jdbcType=INTEGER},
        `order` = #{product.order, jdbcType=INTEGER},
        `update_at` = #{product.updateAt, jdbcType=TIMESTAMP}
        where id = #{product.id, jdbcType=INTEGER}
    </update>

    <delete id="deleteProductById" parameterType="java.lang.Integer">
        delete from
        <include refid="BASE_TABLE"/>
        where id = #{id, jdbcType=INTEGER}
    </delete>

    <select id="selectProductsByName" resultType="com.rhain.enterprise.model.Product">
        select
        <include refid="BASE_COLUMN"/>
        from
        <include refid="BASE_TABLE"/>
        <if test="name != null and name != ''">
            where `name` like CONCAT('%', #{name,jdbcType=VARCHAR}, '%')
        </if>

        order by `order` asc
    </select>
</mapper>