<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rhain.enterprise.dao.UserDao" >
    <sql id="BASE_TABLE">
      t_users
    </sql>

    <sql id="BASE_COLUMN">
      id,username,password,phone,create_at,update_at
    </sql>

    <sql id="USER_IDENTITY_COLUMN">
      u.id as id, u.username as username, u.phone as phone,update_at as updateAt, r.name as role
    </sql>

    <insert id="insert" parameterType="com.rhain.enterprise.model.User" useGeneratedKeys="true" keyProperty="user.id" keyColumn="id">
        INSERT INTO
        <include refid="BASE_TABLE"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            username,password,
            <if test="user.phone != null">
                phone,
            </if>
            create_at, update_at
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            #{user.username, jdbcType=VARCHAR},#{user.password, jdbcType=VARCHAR},
            <if test="user.phone != null">
                #{user.phone, jdbcType=VARCHAR},
            </if>
            <if test="user.createAt != null">
                #{user.createAt, jdbcType=TIMESTAMP},
            </if>
            <if test="user.updateAt != null">
                #{user.updateAt, jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <select id="selectUsers" resultType="com.rhain.enterprise.model.UserIdentity">
        SELECT
        <include refid="USER_IDENTITY_COLUMN"/>
        FROM
        (t_users u left join t_user_roles ur on u.id = ur.user_id)
        left join t_roles r on ur.role_id = r.id
        order by update_at desc
    </select>

    <select id="getByUsername" resultType="com.rhain.enterprise.model.User" parameterType="java.lang.String">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
        where username = #{username, jdbcType=VARCHAR}
    </select>

    <select id="getByUserId" resultType="com.rhain.enterprise.model.User" parameterType="java.lang.Integer">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
        where id = #{userId, jdbcType=INTEGER}
    </select>

    <delete id="deleteByUsername" parameterType="java.lang.String">
        delete from
        <include refid="BASE_TABLE"/>
        where username = #{username, jdbcType=VARCHAR}
    </delete>

    <update id="update" parameterType="map">
        update
        <include refid="BASE_TABLE"/>
        set phone = #{phone, jdbcType=VARCHAR},
        username = #{username, jdbcType=VARCHAR},
        update_at = #{updateAt, jdbcType=TIMESTAMP}
        where id = #{id, jdbcType=INTEGER}
    </update>


</mapper>